<div class="card">
  <img src="https://source.unsplash.com/featured/?<%= tv_show.title %>" class="card-img-top" alt="<%= tv_show.title %>">
  <div class="card-body">
    <h5 class="card-title"><%= tv_show.title %></h5>
    <p class="card-text"><%= tv_show.synopsis %></p>
  </div>
</div>